@{
    ViewData["Title"] = "Quản lý user";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Quản lý user</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Quản lý user</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        @* <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div> *@
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div>
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-add" id="updateBtn" style="float:left">Add user</button>
                                <input type="text" class="search" name="search" id="search" onkeyup="search()" placeholder="Search..." />
                            </div>
                            <table id="dataTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Full Name</th>
                                        <th>Ngày tạo</th>
                                        <th>Ngày sửa</th>
                                        <th>Quyền hạn</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tBody">
                                </tbody>
                            </table>
                            <div class="pagination" id="pagination">
                                @* <a href="#">&laquo;</a> *@

                                @* <a href="#">&raquo;</a> *@
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div id="modal-all">
                        </div>
                        <div class="modal fade" id="modal-add">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Add user</b></h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="username_new"><span style="color: red">*</span> Username</label>
                                            <input type="text" class="form-control" id="username_new" value="" placeholder="Username">
                                        </div>
                                        <div class="form-group" id="">
                                            <label for="email_new">Email</label>
                                            <input type="text" class="form-control" id="email_new" value="" placeholder="Email">
                                        </div>
                                        <div class="form-group" id="">
                                            <label for="fullname_new">Full Name</label>
                                            <input type="text" class="form-control" id="fullname_new" value="" placeholder="Full name">
                                        </div>
                                        <div class="form-group" id="">
                                            <label for="password_new"><span style="color: red">*</span> Password mới</label>
                                            <input type="text" class="form-control" id="password_new" placeholder="Password">
                                        </div>
                                        <div class="form-group" id="">
                                            <label for="password_again_new"><span style="color: red">*</span> Nhập lại password</label>
                                            <input type="text" class="form-control" id="password_again_new" placeholder="Nhập lại password">
                                        </div>
                                        <div class="form-group">
                                            <label for="role_new"><span style="color: red">*</span> Phân quyền</label>
                                            <select class="form-control select2bs4" style="width: 100%;" id="role_new">
                                            </select>
                                        </div>
                                        <button class="btn btn-success" onclick="addUser()" id="addBtn">Add</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts {
    <script>
        let nextPageIndex, previousPageIndex, pageCount, rowsPerPage = 10;

        $(document).ready(function () {
            getRole()

            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
        let roleList;
        function getRole() {
            $.ajax({
                url: '/Admin/GetRole',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('auth_token')
                },
                data: { },
                success: function (res) {
                    let data = res.data
                    roleList = data
                    for (let i = 0; i < data.length; i++) {
                        let opt = document.createElement('option');
                        opt.value = data[i].id;
                        opt.innerHTML = data[i].role;
                        document.getElementById('role_new').appendChild(opt);
                        if (i == 0) {
                            document.getElementById('role_new').selectedIndex = i
                        }
                    }
                    getApplication()
                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

        let dataApplication;
        function getApplication() {
            $.ajax({
                url: '/Admin/GetUser',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: { },
                success: function (res) {
                    dataApplication = res.data
                    setupPagination(dataApplication);

                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

        function search() {
            let search = document.getElementById("search");
            let filteredData = dataApplication.filter(item => item.fullname.includes(search.value));
            setupPagination(filteredData)
        }

        function setupPagination(data) {
            pageCount = Math.ceil(data.length / rowsPerPage);
            
            let pagination = '';

            pagination += `<a href="javascript:void(0)" class="a-pagination d-none" id="idPaginate_before" onclick="previousPage()"><<</a>`;
            for (let i = 1; i <= pageCount; i++) {
                if(i > 5){
                    pagination += `<a href="javascript:void(0)" class="a-pagination d-none" id="idPaginate_${i}" onclick="renderTable(dataApplication, ${i}, ${rowsPerPage})">${i}</a>`;
                }
                else{
                    pagination += `<a href="javascript:void(0)" class="a-pagination" id="idPaginate_${i}" onclick="renderTable(dataApplication, ${i}, ${rowsPerPage})">${i}</a>`;
                }
            }
            if (pageCount > 5) pagination += `<a href="javascript:void(0)" class="a-pagination" id="idPaginate_next" onclick="nextPage()">>></a>`;

            $('#pagination').html(pagination);
            renderTable(data, 1, rowsPerPage);
        }
        function renderTable(data, page, rowsPerPage) {
            nextPageIndex = page + 1
            previousPageIndex = page - 1
            const start = (page - 1) * rowsPerPage;
            const end = start + rowsPerPage;
            const paginatedData = data.slice(start, end);
            let tableBody = '';

            paginatedData.forEach(row => {
                htmlRoleList = ''
                for(let i = 0; i < roleList.length; i++){
                    if(row.id_role == roleList[i].id){
                        htmlRoleList += `<option selected value="${roleList[i].id}" >${roleList[i].role}</option>`
                    }
                    else{
                        htmlRoleList += `<option value="${roleList[i].id}" >${roleList[i].role}</option>`
                    }
                }
                tableBody += `<tr>
                                    <td>${row.username}</td>
                                    <td>${row.email}</td>
                                    <td>${row.fullname}</td>
                                    <td>${convertDate(row.create_at)}</td>
                                    <td>${convertDate(row.update_at)}</td>
                                    <td>${row.role}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-${row.username}">Update</button>
                                        <button type="button" class="btn btn-danger" onclick="deleteUser('${row.username}')">Delete</button>
                                    </td>
                                </tr>`;

                htmlModal = ` <div class="modal fade" id="modal-${row.username}">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                    <h4 class="modal-title">Username: <b>${row.username}</b></h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                            <div class="form-group">
                                                <label for="username_${row.username}">Username</label>
                                                <input type="text" class="form-control" id="username_${row.username}" value="${row.username}" placeholder="Username" disabled>
                                            </div>
                                            <div class="form-group" id="">
                                                <label for="email_${row.username}">Email</label>
                                                <input type="text" class="form-control" id="email_${row.username}" value="${row.email}" placeholder="Email" >
                                            </div>
                                            <div class="form-group" id="">
                                                <label for="fullname_${row.username}">Full Name</label>
                                                <input type="text" class="form-control" id="fullname_${row.username}" value="${row.fullname}" placeholder="Fullname" >
                                            </div>
                                            <div class="form-group" id="">
                                                <label for="password_${row.username}">Password mới</label>
                                                <input type="password" class="form-control" id="password_${row.username}" placeholder="Password" >
                                            </div>
                                            <div class="form-group" id="">
                                                <label for="password_again_${row.username}">Nhập lại password</label>
                                                <input type="password" class="form-control" id="password_again_${row.username}" placeholder="Nhập lại password" >
                                            </div>
                                            <div class="form-group">
                                                <label for="role_${row.username}">Phân quyền</label>
                                                <select class="form-control select2bs4" style="width: 100%;" id="role_${row.username}">
                                                    ${htmlRoleList}
                                                </select>
                                            </div>
                                            <button class="btn btn-warning" onclick="update('${row.username}')" id="updateBtn">Update</button>
                                        </div>
                                    </div>
                                </div>`;

                $('#modal-all').append(htmlModal)

            });

            $('#tBody').html(tableBody);

            const menuItems = document.querySelectorAll('.a-pagination');
            menuItems.forEach(menu => {
                menu.classList.remove('active');
            });
            $('#idPaginate_' + page).addClass("active");

            if(page >= 6){
                $('#idPaginate_before').removeClass('d-none');
                $(`#idPaginate_${page}`).removeClass('d-none');
                $(`#idPaginate_${page - 5}`).addClass('d-none');
                $(`#idPaginate_${page + 5}`).addClass('d-none');
            }

            if (page == pageCount) {
                $('#idPaginate_next').addClass('d-none');
            }
            if (page == pageCount - 5) {
                $('#idPaginate_next').removeClass('d-none');
            }
            if(page <= 5){
                $('#idPaginate_next').removeClass('d-none');
                $(`#idPaginate_${page}`).removeClass('d-none');
                $(`#idPaginate_${page+5}`).addClass('d-none');
            }
            if (page == 1) {
                $('#idPaginate_before').addClass('d-none');
            }
        }

        function previousPage() {
            renderTable(dataApplication, previousPageIndex, rowsPerPage)
        }

        function nextPage() {
            renderTable(dataApplication, nextPageIndex, rowsPerPage)
        }

        function update(username){
            if($(`#password_${username}`).val()){
                if($(`#password_${username}`).val() !== $(`#password_again_${username}`).val()){
                    alert('Mật khẩu và nhập lại mật khẩu phải giống nhau!')
                    return;
                }
                else{
                    $.ajax({
                        url: '/Admin/UpdateUserInfoWithPwd',
                        type: 'POST',
                        headers: {
                            'Authorization': 'Bearer ' + getCookie('esign_token')
                        },
                        data: {
                            username: $(`#username_${username}`).val(),
                            email: $(`#email_${username}`).val(),
                            fullname: $(`#fullname_${username}`).val(),
                            password: $(`#password_${username}`).val(),
                            id_role: $(`#role_${username}`).val() * 1,
                        },
                        success: function (res) {
                            alert(res.message)
                            window.location.reload()
                        },
                        error: function (err) {
                            if (err.status == 401) {
                                logout();
                            }
                            else {
                                alert('An error occurred. ' + err.responseText);
                            }
                        }
                    });
                }
            }
            else{
                $.ajax({
                    url: '/Admin/UpdateUserInfo',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + getCookie('esign_token')
                    },
                    data: {
                        username: $(`#username_${username}`).val(),
                        email: $(`#email_${username}`).val(),
                        fullname: $(`#fullname_${username}`).val(),
                        id_role: $(`#role_${username}`).val() * 1,
                    },
                    success: function (res) {
                        alert(res.message)
                        window.location.reload()

                    },
                    error: function (err) {
                        if (err.status == 401) {
                            logout();
                        }
                        else {
                            alert('An error occurred. ' + err.responseText);
                        }
                    }
                });
            }
        }

        function deleteUser(username){
            if (confirm('Bạn có chắc chắn muốn xóa người dùng này?')) {
                $.ajax({
                    url: '/Admin/DeleteUser',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + getCookie('esign_token')
                    },
                    data: {
                        username: username,
                    },
                    success: function (res) {
                        alert(res.message)
                        window.location.reload()

                    },
                    error: function (err) {
                        if (err.status == 401) {
                            logout();
                        }
                        else {
                            alert('An error occurred. ' + err.responseText);
                        }
                    }
                });
            }
        }

        function addUser(){
            if($('#username_new').val() == ''){
                alert('Bạn cần nhập username!')
                return;
            }
            if($('#password_new').val() == ''){
                alert('Bạn cần nhập mật khẩu!')
                return;
            }
            if($('#password_again_new').val() == ''){
                alert('Bạn cần nhập lại mật khẩu!')
                return;
            }
            if($('#password_new').val() !== $('#password_again_new').val()){
                alert('Mật khẩu và nhập lại mật khẩu phải giống nhau!')
                return;
            }
            else{
                $.ajax({
                    url: '/Admin/AddUser',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + getCookie('esign_token')
                    },
                    data: {
                        username: $('#username_new').val(),
                        email: $('#email_new').val(),
                        fullname: $('#fullname_new').val(),
                        password: $('#password_new').val(),
                        id_role: $('#role_new').val() * 1,
                    },
                    success: function (res) {
                        alert(res.message)
                        window.location.reload()
                    },
                    error: function (err) {
                        if (err.status == 401) {
                            logout();
                        }
                        else {
                            alert('An error occurred. ' + err.responseText);
                        }
                    }
                });
            }
        }
    </script>
}
