@{
    ViewData["Title"] = "Quản lý dự án";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Quản lý dự án</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Quản lý dự án</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content" id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        @* <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div> *@
                        <!-- /.card-header -->
                        <div class="card-body" style="overflow-x: auto;">
                            <div>
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-add" id="updateBtn" style="float:left">Thêm dự án</button>
                                <input type="text" class="search" name="search" id="search" onkeyup="search()" placeholder="Search..." />
                            </div>
                            <table id="dataTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Dự án</th>
                                        <th>Nội dung</th>
                                        <th>Ảnh</th>
                                        <th>Ngày tạo</th>
                                        <th>Ngày sửa</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tBody">
                                </tbody>
                            </table>
                            <div class="pagination" id="pagination">
                                @* <a href="#">&laquo;</a> *@

                                @* <a href="#">&raquo;</a> *@
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div id="modal-all">
                        </div>
                        <div class="modal fade" id="modal-add" style="overflow-y: auto;">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thêm dự án</b></h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="project_new"><span style="color: red">*</span> Dự án</label>
                                            <input type="text" class="form-control" id="project_new" value="" placeholder="Dự án">
                                        </div>
                                        <div class="form-group" id="">
                                            <label for="detail_new">Nội dung</label>
                                            <textarea id="detail_new" rows="5"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="attachFile">Attach file</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="attachFile">
                                                    <label class="custom-file-label" for="attachFile">Choose file</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">Upload</span>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-success" onclick="addItem()" id="addBtn">Thêm dự án</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts {
    <script>
        let nextPageIndex, previousPageIndex, pageCount, rowsPerPage = 10;

        $(document).ready(function () {
            // Summernote
            $('#detail_new').summernote()
            bsCustomFileInput.init();
            getItem()

        })

        let dataApplication;
        function getItem() {
            document.getElementById('loading').style.display = 'block';
            document.getElementById('content').classList.add('opacity-content')

            $.ajax({
                url: '/Project/GetProject',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: { },
                success: function (res) {
                    dataApplication = res.data
                    setupPagination(dataApplication);

                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                },
                complete: function () {
                    document.getElementById('loading').style.display = 'none';
                    document.getElementById('content').classList.remove('opacity-content')
                }
            });
        }

        function search() {
            let search = document.getElementById("search");
            let filteredData = dataApplication.filter(item => item.project.includes(search.value));
            setupPagination(filteredData)
        }

        function setupPagination(data) {
            pageCount = Math.ceil(data.length / rowsPerPage);

            let pagination = '';

            pagination += `<a href="javascript:void(0)" class="a-pagination d-none" id="idPaginate_before" onclick="previousPage()"><<</a>`;
            for (let i = 1; i <= pageCount; i++) {
                if(i > 5){
                    pagination += `<a href="javascript:void(0)" class="a-pagination d-none" id="idPaginate_${i}" onclick="renderTable(dataApplication, ${i}, ${rowsPerPage})">${i}</a>`;
                }
                else{
                    pagination += `<a href="javascript:void(0)" class="a-pagination" id="idPaginate_${i}" onclick="renderTable(dataApplication, ${i}, ${rowsPerPage})">${i}</a>`;
                }
            }
            if (pageCount > 5) pagination += `<a href="javascript:void(0)" class="a-pagination" id="idPaginate_next" onclick="nextPage()">>></a>`;

            $('#pagination').html(pagination);
            renderTable(data, 1, rowsPerPage);
        }
        function renderTable(data, page, rowsPerPage) {
            nextPageIndex = page + 1
            previousPageIndex = page - 1
            const start = (page - 1) * rowsPerPage;
            const end = start + rowsPerPage;
            const paginatedData = data.slice(start, end);
            let tableBody = '';

            paginatedData.forEach(row => {
                let urlList = data[0].file_name.split('.')
                let extensionFile = urlList[urlList.length - 1]
                tableBody += `<tr>
                                    <td>${row.project}</td>
                                    <td>${row.detail}</td>
                                    <td><img src="data:image/${extensionFile};base64, ${row.file_url}" alt="${row.file_name}" width="300" height="200"></td>
                                    <td>${convertDate(row.create_at)}</td>
                                    <td>${convertDate(row.update_at)}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-${row.id}">Update</button>
                                        <button type="button" class="btn btn-danger" onclick="deleteItem(${row.id})">Delete</button>
                                    </td>
                                </tr>`;

                htmlModal = ` <div class="modal fade" id="modal-${row.id}" style="overflow-y: auto;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                    <h4 class="modal-title">Dự án: <b>${row.project}</b></h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                            <div class="form-group">
                                                <label for="project_${row.id}"><span style="color: red">*</span> Dự án</label>
                                                <input type="text" class="form-control" id="project_${row.id}" value="${row.project}" placeholder="Dự án">
                                            </div>
                                            <div class="form-group" id="">
                                                <label for="detail_${row.id}">Nội dung</label>
                                                <textarea id="detail_${row.id}" rows="5"  >${row.detail}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="attachFileUpdate_${row.id}">Attach file</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="attachFileUpdate_${row.id}">
                                                        <label class="custom-file-label" for="attachFileUpdate_${row.id}">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">Upload</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-warning" onclick="updateImage(${row.id})" id="updateBtn">Update</button>
                                        </div>
                                    </div>
                                </div>`;

                $('#modal-all').append(htmlModal)
                $(`#detail_${row.id}`).summernote()
                bsCustomFileInput.init();
            });

            $('#tBody').html(tableBody);

            const menuItems = document.querySelectorAll('.a-pagination');
            menuItems.forEach(menu => {
                menu.classList.remove('active');
            });
            $('#idPaginate_' + page).addClass("active");

            if(page >= 6){
                $('#idPaginate_before').removeClass('d-none');
                $(`#idPaginate_${page}`).removeClass('d-none');
                $(`#idPaginate_${page - 5}`).addClass('d-none');
                $(`#idPaginate_${page + 5}`).addClass('d-none');
            }

            if (page == pageCount) {
                $('#idPaginate_next').addClass('d-none');
            }
            if (page == pageCount - 5) {
                $('#idPaginate_next').removeClass('d-none');
            }
            if(page <= 5){
                $('#idPaginate_next').removeClass('d-none');
                $(`#idPaginate_${page}`).removeClass('d-none');
                $(`#idPaginate_${page+5}`).addClass('d-none');
            }
            if (page == 1) {
                $('#idPaginate_before').addClass('d-none');
            }
        }

        function previousPage() {
            renderTable(dataApplication, previousPageIndex, rowsPerPage)
        }

        function nextPage() {
            renderTable(dataApplication, nextPageIndex, rowsPerPage)
        }

        function updateImage(id){
            if($(`#project_${id}`).val() == ''){
                alert('Bạn cần nhập dự án!')
                return;
            }
            var fileUpload = document.getElementById("attachFileUpdate_"+ id);
            if (fileUpload.files.length != 0) {
                let file = new FormData();
                file.append("file", fileUpload.files[0])

                $.ajax({
                    url: '/Banner/UploadImage',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + getCookie('esign_token')
                    },
                    data: file,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.statusCode == "FAIL") {
                            alert(res.message)
                        } else {
                            updateFile(res.data[0].fileUrl, res.data[0].fileName, id)
                        }

                    },
                    error: function (err) {
                        if (err.status == 401) {
                            logout();
                        }
                        else {
                            alert('An error occurred. ' + err.responseText);
                        }
                    }
                });
            }
            else{
                updateFile('', '', id)
            }
        }
        function updateFile(fileUrl, fileName, id){
            $.ajax({
                url: '/Project/UpdateFile',
                type: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: {
                    id: id,
                    project: $(`#project_${id}`).val(),
                    detail: $(`#detail_${id}`).val(),
                    file_url: fileUrl,
                    file_name: fileName,
                },
                success: function (res) {
                    alert(res.message)
                    window.location.reload()
                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

        function deleteItem(id){
            if (confirm('Bạn có chắc chắn muốn xóa dự án này?')) {
                $.ajax({
                    url: '/Project/DeleteProject',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + getCookie('esign_token')
                    },
                    data: {
                        id: id,
                    },
                    success: function (res) {
                        alert(res.message)
                        window.location.reload()

                    },
                    error: function (err) {
                        if (err.status == 401) {
                            logout();
                        }
                        else {
                            alert('An error occurred. ' + err.responseText);
                        }
                    }
                });
            }
        }

        function addItem(){
            if($('#project').val() == ''){
                alert('Bạn cần nhập dự án!')
                return;
            }
            var fileUpload = document.getElementById("attachFile");
            if (fileUpload.files.length != 0) {
                let file = new FormData();
                file.append("file", fileUpload.files[0])

                $.ajax({
                    url: '/Banner/UploadImage',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + getCookie('esign_token')
                    },
                    data: file,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.statusCode == "FAIL") {
                            alert(res.message)
                        } else {
                            uploadFile(res.data[0].fileUrl, res.data[0].fileName)
                        }

                    },
                    error: function (err) {
                        if (err.status == 401) {
                            logout();
                        }
                        else {
                            alert('An error occurred. ' + err.responseText);
                        }
                    }
                });
            }
            else{
                alert('Bạn cần thêm ảnh dự án!')
                return;
            }
        }

        function uploadFile(fileUrl, fileName){
            $.ajax({
                url: '/Project/UploadFile',
                type: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: {
                    project: $('#project_new').val(),
                    detail: $('#detail_new').val(),
                    file_url: fileUrl,
                    file_name: fileName,
                },
                success: function (res) {
                    alert(res.message)
                    window.location.reload()
                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

    </script>
}
