USE [eSIGN]
GO
/****** Object:  Table [dbo].[ht_nang_luc_tai_sao_nen_chon]    Script Date: 3/20/2025 8:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ht_nang_luc_tai_sao_nen_chon](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[file_url] [nvarchar](max) NULL,
	[file_name] [nvarchar](200) NULL,
	[detail] [nvarchar](max) NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_ht_nang_luc_tai_sao_nen_chon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ht_nang_luc_tai_sao_nen_chon_content]    Script Date: 3/20/2025 8:48:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ht_nang_luc_tai_sao_nen_chon_content](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NULL,
	[detail] [nvarchar](max) NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_ht_nang_luc_tai_sao_nen_chon_content] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ht_nang_luc_tai_sao_nen_chon] ON 

SET IDENTITY_INSERT [dbo].[ht_nang_luc_tai_sao_nen_chon] OFF
GO
SET IDENTITY_INSERT [dbo].[ht_nang_luc_tai_sao_nen_chon_content] ON 

INSERT [dbo].[ht_nang_luc_tai_sao_nen_chon_content] ([id], [title], [detail], [update_at]) VALUES (1, N'Chất lượng và độ bền', N'Chúng tôi cam kết sử dụng các vật liệu xây dựng chất lượng cao và áp dụng các tiêu chuẩn kỹ thuật tiên tiến nhất để đảm bảo công trình của bạn không chỉ đẹp mà còn bền vững theo thời gian.', CAST(N'2025-03-19T15:26:28.897' AS DateTime))
INSERT [dbo].[ht_nang_luc_tai_sao_nen_chon_content] ([id], [title], [detail], [update_at]) VALUES (2, N'Kinh nghiệm và chuyên môn', N'Với nhiều năm kinh nghiệm trong ngành xây dựng, đội ngũ kỹ sư và công nhân của chúng tôi có chuyên môn cao và đã hoàn thành nhiều dự án thành công, từ nhà ở dân dụng đến các công trình công nghiệp lớn.', CAST(N'2025-03-19T15:45:40.990' AS DateTime))
INSERT [dbo].[ht_nang_luc_tai_sao_nen_chon_content] ([id], [title], [detail], [update_at]) VALUES (3, N'Dịch vụ khách hàng tận tâm', N'Chúng tôi luôn đặt khách hàng lên hàng đầu, lắng nghe và đáp ứng mọi yêu cầu của bạn. Đội ngũ hỗ trợ khách hàng của chúng tôi luôn sẵn sàng giải đáp mọi thắc mắc và đảm bảo bạn hài lòng với dịch vụ của chúng tôi.', CAST(N'2025-03-19T14:39:47.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[ht_nang_luc_tai_sao_nen_chon_content] OFF
GO
ALTER TABLE [dbo].[ht_nang_luc_tai_sao_nen_chon] ADD  CONSTRAINT [DF_ht_nang_luc_tai_sao_nen_chon_update_at]  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[ht_nang_luc_tai_sao_nen_chon_content] ADD  CONSTRAINT [DF_ht_nang_luc_tai_sao_nen_chon_content_update_at]  DEFAULT (getdate()) FOR [update_at]
GO
/****** Object:  StoredProcedure [dbo].[HT_GetNangLucTaiSaoNenChon]    Script Date: 3/20/2025 8:48:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[HT_GetNangLucTaiSaoNenChon]
	--@id tinyint
AS 
BEGIN
    Select * from ht_nang_luc_tai_sao_nen_chon
END
GO
/****** Object:  StoredProcedure [dbo].[HT_GetNangLucTaiSaoNenChonContent]    Script Date: 3/20/2025 8:48:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[HT_GetNangLucTaiSaoNenChonContent]
	--@id tinyint
AS 
BEGIN
    Select * from ht_nang_luc_tai_sao_nen_chon_content
END
GO
/****** Object:  StoredProcedure [dbo].[HT_UpdateNangLucTaiSaoNenChonContent]    Script Date: 3/20/2025 8:48:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HT_UpdateNangLucTaiSaoNenChonContent]
	@id tinyint,
	@title nvarchar(200),
	@detail nvarchar(MAX)
AS 
BEGIN
    UPDATE ht_nang_luc_tai_sao_nen_chon_content
	SET title = @title,
	detail = @detail,
	update_at = getdate()
	WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[HT_UpdateTaiSaoNenChon]    Script Date: 3/20/2025 8:48:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[HT_UpdateTaiSaoNenChon]
	@id tinyint,
	@detail nvarchar(MAX),
	@file_url nvarchar(MAX),
	@file_name nvarchar(500)
AS 
BEGIN
    UPDATE ht_nang_luc_tai_sao_nen_chon 
	SET detail = @detail,
	file_url = CASE WHEN @file_url IS NOT NULL AND @file_url <> '' THEN @file_url ELSE file_url END,
    [file_name] = CASE WHEN @file_name IS NOT NULL AND @file_name <> '' THEN @file_name ELSE [file_name] END,
	update_at = getdate()
	WHERE id = @id;
END
GO
