@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title-Front"] = "Dự án";
}

@section Styles {
    <style>

    </style>
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(/assets/img/page-title-bg.jpg);">
        <div class="container position-relative">
            <h1>Dự án</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li class="current">Dự án</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <section id="projects" class="recent-blog-posts section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Dự án</h2>
            <p>Chúng tôi đã thực hiện thành công nhiều dự án đa dạng, từ nhà ở dân dụng đến các công trình công nghiệp và hạ tầng, luôn đảm bảo chất lượng và tiến độ theo cam kết.</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-5" id="project-inner">

            </div>

        </div>

    </section><!-- /Projects Section -->

</main>

@section Scripts {
    <script>
        $(function () {
            
        })
        $(document).ready(function () {
            getProject()
        })
        function getProject(){
            $('#preloader1').show();

            $.ajax({
                url: '/Front/GetProject',
                type: 'GET',
                headers: {

                },
                data: { },
                success: function (res) {
                    let data = res.data
                    let htmlData = ``
                    for(let i = 0; i < data.length; i++){
                        let urlList = data[0].file_name.split('.')
                        let extensionFile = urlList[urlList.length - 1]
                        let file_url = data[i].file_url

                        htmlData += `<div class="col-xl-4 col-md-6">
                                        <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">

                                            <div class="post-img position-relative overflow-hidden">
                                                <img src="data:image/${extensionFile};base64, ${file_url}" class="img-fluid" alt="">
                                                
                                            </div>

                                            <div class="post-content d-flex flex-column">

                                                <h3 class="post-title">${data[i].project}</h3>
                                                <p>
                                                    ${truncateString(data[i].detail, 200)}
                                                </p>
                                                <hr>

                                                <a href="/du-an/chi-tiet?id=${data[i].id}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

                                            </div>

                                        </div>
                                    </div>`

                    }
                    $(`#project-inner`).html(htmlData)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                },
                complete: function () {
                    $('#preloader1').hide();

                    // $('#preloader1').addClass('preloader-user-hidden');
                    // setTimeout(() => {
                    //     $('#preloader').hide();
                    // }, 500);
                }
            });
        }

    </script>
}
