@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title-Front"] = "Dự án chi tiết";
}

@section Styles {
    <style>

    </style>
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(/assets/img/page-title-bg.jpg);">
        <div class="container position-relative">
            <h1>Dự án chi tiết</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li class="current">Dự án chi tiết</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- Project Details Section -->
    <section id="project-details" class="project-details section">

        <div class="container" data-aos="fade-up">

            <div class="portfolio-details-slider swiper init-swiper">
                
                <div class="swiper-wrapper align-items-center">

                    <div class="swiper-slide" id="image">
                        
                    </div>

                </div>
            </div>

            <div class="row justify-content-between gy-4 mt-4">

                <div class="col-lg-8" data-aos="fade-up">
                    <div class="portfolio-description">
                        <h2 id="title"></h2>
                        <p id="detail"></p>

                    </div>
                </div>
                <div class="col-lg-4 sidebar">

                    <div class="widgets-container">
                        <!-- Recent Posts Widget -->
                        <div class="recent-posts-widget widget-item">

                            <h3 class="widget-title">Dự án gần đây</h3>

                            <div id="top-5-duan"></div>

                        </div><!--/Recent Posts Widget -->
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /Project Details Section -->

</main>

@section Scripts {
    <script>
        const url = new URL(window.location.href);
        const id = url.searchParams.get('id');
        $(function () {
            getDuAnChiTiet(id)
            getTop5DuAn()
        })

        function getDuAnChiTiet(idItem){
            $('#preloader1').show();
            $.ajax({
                url: '/Front/GetProjectChiTiet',
                type: 'GET',
                headers: {

                },
                data: {
                    id: idItem
                },
                success: function (res) {
                    let data = res.data
                    let urlList = data[0].file_name.split('.')
                    let extensionFile = urlList[urlList.length - 1]
                    let file_url = data[0].file_url

                    $(`#title`).html(data[0].project)
                    $(`#detail`).html(data[0].detail)
                    $(`#image`).html(`<img src="${file_url}" class="img-fluid" alt="">`)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                },
                complete: function () {
                    $('#preloader1').hide();
                }
            });
        }

        function getTop5DuAn(){
            $.ajax({
                url: '/Front/GetTop5DuAn',
                type: 'GET',
                headers: {

                },
                data: {

                },
                success: function (res) {
                    let data = res.data
                    let htmlData = ''
                    for(let i = 0; i < data.length; i++){
                        let urlList = data[i].file_name.split('.')
                        let extensionFile = urlList[urlList.length - 1]
                        let file_url = data[i].file_url

                        htmlData += `<div class="post-item">
                                        <img src="${file_url}" alt="" class="flex-shrink-0">
                                        <div>
                                            <h4><a href="/du-an/chi-tiet?id=${data[i].id}">${data[i].project}</a></h4>
                                            <p>${truncateString(data[i].detail, 30)}</p>
                                        </div>
                                    </div>`
                    }
                    $(`#top-5-duan`).html(htmlData)

                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }

    </script>
}