@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section Styles {
    <style>

    </style>
}

<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <div class="info d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-6 text-center">
                        <h2 id="titleBanner"></h2>
                        <p id="contentBanner"></p>
                        <a href="#services" class="btn-get-started">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

            <div id="hero-carousel-inner">
                
            </div>

            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section><!-- /Hero Section -->
    <!-- Services Section -->
    <section id="services" class="services section light-background">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>LĨNH VỰC HOẠT ĐỘNG</h2>
            <p>Chúng tôi chuyên cung cấp các dịch vụ xây dựng đa dạng, từ thiết kế và thi công công trình dân dụng đến các dự án công nghiệp và hạ tầng, đảm bảo chất lượng và sự hài lòng của khách hàng.</p>
        </div><!-- End Section Title -->
        <div class="container">
            <div class="row gy-4" id="services-inner">

            </div>
        </div>
    </section><!-- /Services Section -->

    <section id="stats-counter" class="stats-counter section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>NĂNG LỰC</h2>
            <p>Chúng tôi tự hào sở hữu đội ngũ chuyên gia giàu kinh nghiệm và trang thiết bị hiện đại, đảm bảo thực hiện mọi dự án với chất lượng cao nhất và hiệu quả tối ưu.</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4" id="nang-luc-inner">
                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                        <div id="nang-luc-1">
                            
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                        <div id="nang-luc-2">
                            
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-headset color-green flex-shrink-0"></i>
                        <div id="nang-luc-3">
                            
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-people color-pink flex-shrink-0"></i>
                        <div id="nang-luc-4">
                            
                        </div>
                    </div>
                </div><!-- End Stats Item -->
            </div>

        </div>

    </section><!-- /Stats Counter Section -->

    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">

        <div class="container">

            <div class="row justify-content-around gy-4">
                <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="~/assets/img/alt-services.jpg" alt=""></div>

                <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <h3>TẠI SAO NÊN CHỌN CHÚNG TÔI</h3>
                    <p>Chúng tôi cam kết mang đến cho bạn những giải pháp xây dựng chất lượng cao, dịch vụ tận tâm và giá cả cạnh tranh, đảm bảo sự hài lòng và bền vững cho mọi công trình.</p>

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-easel flex-shrink-0"></i>
                        <div>
                            <h4><a href="javascript:void(0);" class="stretched-link">Chất lượng và độ bền</a></h4>
                            <p>Chúng tôi cam kết sử dụng các vật liệu xây dựng chất lượng cao và áp dụng các tiêu chuẩn kỹ thuật tiên tiến nhất để đảm bảo công trình của bạn không chỉ đẹp mà còn bền vững theo thời gian.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-patch-check flex-shrink-0"></i>
                        <div>
                            <h4><a href="javascript:void(0);" class="stretched-link">Kinh nghiệm và chuyên môn</a></h4>
                            <p>Với nhiều năm kinh nghiệm trong ngành xây dựng, đội ngũ kỹ sư và công nhân của chúng tôi có chuyên môn cao và đã hoàn thành nhiều dự án thành công, từ nhà ở dân dụng đến các công trình công nghiệp lớn.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-brightness-high flex-shrink-0"></i>
                        <div>
                            <h4><a href="javascript:void(0);" class="stretched-link">Dịch vụ khách hàng tận tâm</a></h4>
                            <p>Chúng tôi luôn đặt khách hàng lên hàng đầu, lắng nghe và đáp ứng mọi yêu cầu của bạn. Đội ngũ hỗ trợ khách hàng của chúng tôi luôn sẵn sàng giải đáp mọi thắc mắc và đảm bảo bạn hài lòng với dịch vụ của chúng tôi.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
                        <i class="bi bi-brightness-high flex-shrink-0"></i>
                        <div>
                            <h4><a href="javascript:void(0);" >Giá cả cạnh tranh</a></h4>
                            <p>Chúng tôi cung cấp các giải pháp xây dựng với chi phí hợp lý mà không làm giảm chất lượng. Chúng tôi luôn nỗ lực tối ưu hóa chi phí để mang lại giá trị tốt nhất cho khách hàng.</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </section><!-- /Alt Services Section -->

    <!-- Projects Section -->
    <section id="projects" class="recent-blog-posts section">

        <div class="container section-title" data-aos="fade-up">
            <h2>DỰ ÁN</h2>
            <p>Chúng tôi đã thực hiện thành công nhiều dự án đa dạng, từ nhà ở dân dụng đến các công trình công nghiệp và hạ tầng, luôn đảm bảo chất lượng và tiến độ theo cam kết.</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-5" id="project-inner">

            </div>

        </div>

    </section><!-- /Projects Section -->
    <!-- Constructions Section -->
    <section id="constructions" class="constructions section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>TIN TỨC</h2>
            <p>Cập nhật những thông tin mới nhất về các dự án, sự kiện và xu hướng trong ngành xây dựng, giúp bạn luôn nắm bắt kịp thời và chính xác.</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4" id="tintuc-inner">

            </div>

        </div>

    </section><!-- /Constructions Section -->

</main>

@section Scripts {
    <script>
        $(function () {
            getBanner()
            getLinhVuc()
            getNangLuc()
            getProject()
            getTinTuc()
        })

        function getBanner(){
            $.ajax({
                url: '/Front/GetBanner',
                type: 'GET',
                headers: {
                    
                },
                data: {
                    
                },
                success: function (res) {
                    let data = res.data
                    $(`#titleBanner`).html(data[0].title)
                    $(`#contentBanner`).html(data[0].content)
                    let htmlBanner = ''
                    for(let i = 0; i < data.length; i++){
                        let urlList = data[0].file_name.split('.')
                        let extensionFile = urlList[urlList.length - 1]
                        let file_url = data[i].file_url
                        if(i==0){
                            htmlBanner += `<div class="carousel-item active">
                                            <img src="data:image/${extensionFile};base64, ${file_url}" alt="">
                                        </div>`
                        }else{
                            htmlBanner += `<div class="carousel-item">
                                            <img src="data:image/${extensionFile};base64, ${file_url}" alt="">
                                        </div>`
                        }
                    }
                    $(`#hero-carousel-inner`).html(htmlBanner)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }

        function getLinhVuc(){
            $.ajax({
                url: '/Front/GetLinhVuc',
                type: 'GET',
                headers: {
                    
                },
                data: { },
                success: function (res) {
                    let data = res.data
                    let htmlData = ''
                    for(let i = 0; i < data.length; i++){
                        htmlData += `<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                                        <div class="service-item position-relative">
                                            <div class="icon">
                                                ${data[i].icon}
                                            </div>
                                            <h3>${data[i].linh_vuc}</h3>
                                            <p>${truncateString(data[i].detail)}</p>
                                            <a href="/linh-vuc/chi-tiet?id=${data[i].id}" class="readmore stretched-link">Đọc thêm <i class="bi bi-arrow-right"></i></a>
                                        </div>
                                    </div>`
                    }
                    $(`#services-inner`).html(htmlData)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }

        function getNangLuc(){
            $.ajax({
                url: '/Front/GetNangLuc',
                type: 'GET',
                headers: {

                },
                data: { },
                success: function (res) {
                    let data = res.data
                    for(let i = 0; i < data.length; i++){
                        let ind = i + 1
                        let htmlData = `<span class="purecounter">${data[i].detail}</span>
                                        <p>${data[i].nang_luc}</p>`

                        $(`#nang-luc-${ind}`).html(htmlData)

                    }
                    //$(`#nang-luc-inner`).html(htmlData)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }

        function getProject(){
            $.ajax({
                url: '/Front/GetProject',
                type: 'GET',
                headers: {

                },
                data: { },
                success: function (res) {
                    let data = res.data
                    let htmlData = ``
                    for(let i = 0; i < data.length; i++){
                        let urlList = data[0].file_name.split('.')
                        let extensionFile = urlList[urlList.length - 1]
                        let file_url = data[i].file_url

                        htmlData += `<div class="col-xl-4 col-md-6">
                                        <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">

                                            <div class="post-img position-relative overflow-hidden">
                                                <img src="data:image/${extensionFile};base64, ${file_url}" class="img-fluid" alt="">
                                                <span class="post-date">December 12</span>
                                            </div>

                                            <div class="post-content d-flex flex-column">

                                                <h3 class="post-title">${data[i].project}</h3>
                                                <hr>

                                                <a href="/du-an/chi-tiet?id=${data[i].id}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

                                            </div>

                                        </div>
                                    </div>`
   
                    }
                    $(`#project-inner`).html(htmlData)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }

        function getTinTuc(){
            $.ajax({
                url: '/Front/GetTinTuc',
                type: 'GET',
                headers: {

                },
                data: { },
                success: function (res) {
                    let data = res.data
                    let htmlData = ``
                    for(let i = 0; i < data.length; i++){
                        let urlList = data[0].file_name.split('.')
                        let extensionFile = urlList[urlList.length - 1]
                        let file_url = data[i].file_url

                        htmlData += `<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                                        <div class="card-item">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <div class="card-bg"><a href="/tin-tuc/chi-tiet?id=${data[i].id}"><img src="data:image/${extensionFile};base64, ${file_url}" alt=""></a></div>
                                                </div>
                                                <div class="col-xl-7 d-flex align-items-center">
                                                    <div class="card-body">
                                                        <a href="/tin-tuc/chi-tiet?id=${data[i].id}"><h4 class="card-title">${data[i].tin_tuc}</h4></a>
                                                        <p>${truncateString100(data[i].detail)}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`

                    }
                    $(`#tintuc-inner`).html(htmlData)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }

    </script>
}
