@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title-Front"] = "Lĩnh vực hoạt động";
}

@section Styles {
    <style>

    </style>
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(/assets/img/page-title-bg.jpg);">
        <div class="container position-relative">
            <h1>Lĩnh vực hoạt động</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Lĩnh vực hoạt động</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- Services Section -->
    <section id="services" class="services section light-background">

        <div class="container">

            <div class="row gy-4" id="services-inner">

            </div>

        </div>

    </section><!-- /Services Section -->

</main>

@section Scripts {
    <script>
        $(function () {
            getLinhVuc()
        })

        function getLinhVuc(){
            $.ajax({
                url: '/Front/GetLinhVuc',
                type: 'GET',
                headers: {

                },
                data: { },
                success: function (res) {
                    let data = res.data
                    let htmlData = ''
                    for(let i = 0; i < data.length; i++){
                        htmlData += `<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                                        <div class="service-item position-relative">
                                            <div class="icon">
                                                ${data[i].icon}
                                            </div>
                                            <h3>${data[i].linh_vuc}</h3>
                                            <p>${truncateString(data[i].detail, 100)}</p>
                                            <a href="/linh-vuc/chi-tiet?id=${data[i].id}" class="readmore stretched-link">Đọc thêm <i class="bi bi-arrow-right"></i></a>
                                        </div>
                                    </div>`
                    }
                    $(`#services-inner`).html(htmlData)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }
        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    </script>
}
