@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title-Front"] = "Năng lực";
}

@section Styles {
    <style>

    </style>
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(/assets/img/page-title-bg.jpg);">
        <div class="container position-relative">
            <h1>Năng lực</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li class="current">Năng lực</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    
    <section id="stats-counter" class="stats-counter section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>NĂNG LỰC</h2>
            <p>Chúng tôi tự hào sở hữu đội ngũ chuyên gia giàu kinh nghiệm và trang thiết bị hiện đại, đảm bảo thực hiện mọi dự án với chất lượng cao nhất và hiệu quả tối ưu.</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4" id="nang-luc-inner">
                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                        <div id="nang-luc-1">
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                        <div id="nang-luc-2">
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-headset color-green flex-shrink-0"></i>
                        <div id="nang-luc-3">
                        </div>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item d-flex align-items-center w-100 h-100">
                        <i class="bi bi-people color-pink flex-shrink-0"></i>
                        <div id="nang-luc-4">
                        </div>
                    </div>
                </div><!-- End Stats Item -->
            </div>

        </div>
        
    </section><!-- /Stats Counter Section -->
    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">

        <div class="container">

            <div class="row justify-content-around gy-4">
                <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="~/assets/img/alt-services.jpg" alt=""></div>

                <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <h3>TẠI SAO NÊN CHỌN CHÚNG TÔI</h3>
                    <p>Chúng tôi cam kết mang đến cho bạn những giải pháp xây dựng chất lượng cao, dịch vụ tận tâm và giá cả cạnh tranh, đảm bảo sự hài lòng và bền vững cho mọi công trình.</p>

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-easel flex-shrink-0"></i>
                        <div>
                            <h4><a href="javascript:void(0);" class="stretched-link">Chất lượng và độ bền</a></h4>
                            <p>Chúng tôi cam kết sử dụng các vật liệu xây dựng chất lượng cao và áp dụng các tiêu chuẩn kỹ thuật tiên tiến nhất để đảm bảo công trình của bạn không chỉ đẹp mà còn bền vững theo thời gian.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-patch-check flex-shrink-0"></i>
                        <div>
                            <h4><a href="javascript:void(0);" class="stretched-link">Kinh nghiệm và chuyên môn</a></h4>
                            <p>Với nhiều năm kinh nghiệm trong ngành xây dựng, đội ngũ kỹ sư và công nhân của chúng tôi có chuyên môn cao và đã hoàn thành nhiều dự án thành công, từ nhà ở dân dụng đến các công trình công nghiệp lớn.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-brightness-high flex-shrink-0"></i>
                        <div>
                            <h4><a href="javascript:void(0);" class="stretched-link">Dịch vụ khách hàng tận tâm</a></h4>
                            <p>Chúng tôi luôn đặt khách hàng lên hàng đầu, lắng nghe và đáp ứng mọi yêu cầu của bạn. Đội ngũ hỗ trợ khách hàng của chúng tôi luôn sẵn sàng giải đáp mọi thắc mắc và đảm bảo bạn hài lòng với dịch vụ của chúng tôi.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
                        <i class="bi bi-brightness-high flex-shrink-0"></i>
                        <div>
                            <h4><a href="javascript:void(0);">Giá cả cạnh tranh</a></h4>
                            <p>Chúng tôi cung cấp các giải pháp xây dựng với chi phí hợp lý mà không làm giảm chất lượng. Chúng tôi luôn nỗ lực tối ưu hóa chi phí để mang lại giá trị tốt nhất cho khách hàng.</p>
                        </div>
                    </div><!-- End Icon Box -->
                    <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="700">
                        <button class="btn btn-primary" id="downloadHoSoNangLuc"></button>
                    </div><!-- End Icon Box -->
                    
                </div>
            </div>

        </div>

    </section><!-- /Alt Services Section -->

</main>

@section Scripts {
    <script>
        $(function () {
            getNangLuc()
            getHoSoNangLuc()
        })

        function getNangLuc(){
            $.ajax({
                url: '/Front/GetNangLuc',
                type: 'GET',
                headers: {

                },
                data: { },
                success: function (res) {
                    let data = res.data
                    for(let i = 0; i < data.length; i++){
                        let ind = i + 1
                        let htmlData = `<span class="purecounter">${data[i].detail}</span>
                                        <p>${data[i].nang_luc}</p>`

                        $(`#nang-luc-${ind}`).html(htmlData)

                    }
                    //$(`#nang-luc-inner`).html(htmlData)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }

        function getHoSoNangLuc(){
            $.ajax({
                url: '/Front/GetHoSoNangLuc',
                type: 'GET',
                headers: {

                },
                data: { },
                success: function (res) {
                    let data = res.data
                    let urlList = data[0].file_name.split('.')
                    let extensionFile = urlList[urlList.length - 1]

                    let base64 = 'data:text/plain;base64,' + data[0].file_url;

                    $(`#downloadHoSoNangLuc`).html(`<a href="${base64}" download="${data[0].file_name}" style="color: #fff">Tải hồ sơ năng lực</a>`)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }
    </script>
}
