@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title-Front"] = "Tin tức chi tiết";
}

@section Styles {
    <style>

    </style>
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(/assets/img/page-title-bg.jpg);">
        <div class="container position-relative">
            <h1>Tin tức chi tiết</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li class="current">Tin tức chi tiết</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <div class="container">
        <div class="row">

            <div class="col-lg-8">

                <!-- Blog Details Section -->
                <section id="blog-details" class="blog-details section">
                    <div class="container">

                        <article class="article">

                            <div class="post-img" id="image">
                                
                            </div>

                            <h2 class="title" id="title"></h2>

                            <div class="content" id="detail">
                                

                            </div><!-- End post content -->
                        </article>

                    </div>
                </section><!-- /Blog Details Section -->

            </div>
            <div class="col-lg-4 sidebar">

                <div class="widgets-container">
                    <!-- Recent Posts Widget -->
                    <div class="recent-posts-widget widget-item">

                        <h3 class="widget-title">Bài viết gần đây</h3>

                        <div id="top-5-tintuc"></div>
                        
                    </div><!--/Recent Posts Widget -->
                </div>
            </div>
        </div>
    </div>

</main>
@section Scripts {
    <script>
        const url = new URL(window.location.href);
        const id = url.searchParams.get('id');
        $(function () {
            getTinTucChiTiet(id)
            getTop5TinTuc()
        })

        function getTinTucChiTiet(idItem){
            $('#preloader1').show();
            $.ajax({
                url: '/Front/GetTinTucChiTiet',
                type: 'GET',
                headers: {

                },
                data: {
                    id: idItem
                },
                success: function (res) {
                    let data = res.data
                    let urlList = data[0].file_name.split('.')
                    let extensionFile = urlList[urlList.length - 1]
                    let file_url = data[0].file_url

                    $(`#title`).html(data[0].tin_tuc)
                    $(`#detail`).html(data[0].detail)
                    $(`#image`).html(`<img src="${file_url}" class="img-fluid" alt="">`)
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                },
                complete: function () {
                    $('#preloader1').hide();
                }
            });
        }

        function getTop5TinTuc(){
            $.ajax({
                url: '/Front/GetTop5TinTuc',
                type: 'GET',
                headers: {

                },
                data: {
                    
                },
                success: function (res) {
                    let data = res.data
                    let htmlData = ''
                    for(let i = 0; i < data.length; i++){
                        let urlList = data[i].file_name.split('.')
                        let extensionFile = urlList[urlList.length - 1]
                        let file_url = data[i].file_url

                        htmlData += `<div class="post-item">
                                        <img src="${file_url}" alt="" class="flex-shrink-0">
                                        <div>
                                            <h4><a href="/tin-tuc/chi-tiet?id=${data[i].id}">${data[i].tin_tuc}</a></h4>
                                            <p>${truncateString(data[i].detail, 30)}</p>
                                        </div>
                                    </div>`
                    }
                    $(`#top-5-tintuc`).html(htmlData)
                    
                },
                error: function (err) {
                    alert('An error occurred. ' + err.responseText);
                }
            });
        }

    </script>
}