@{
    ViewData["Title"] = "Quản lý năng lực";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Quản lý năng lực</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Quản lý năng lực</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        @* <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div> *@
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div>
                                <span style="float:left">Quản lý năng lực</span>
                                <input type="text" class="search" name="search" id="search" onkeyup="search()" placeholder="Search..." />
                            </div>
                            <table id="dataTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Năng lực</th>
                                        <th>Nội dung</th>
                                        <th>Ngày sửa</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tBody">
                                </tbody>
                            </table>
                            <div class="pagination" id="pagination">
                                @* <a href="#">&laquo;</a> *@

                                @* <a href="#">&raquo;</a> *@
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div id="modal-all">
                        </div>
                        @* <div class="modal fade" id="modal-add">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thêm lĩnh vực</b></h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="linh_vuc_new"><span style="color: red">*</span> Lĩnh vực</label>
                                            <input type="text" class="form-control" id="linh_vuc_new" value="" placeholder="Lĩnh vực">
                                        </div>
                                        <div class="form-group" id="">
                                            <label for="detail_new">Nội dung</label>
                                            <textarea id="detail_new" rows="5"></textarea>
                                        </div>
                                        <div class="form-group" id="">
                                            <label for="icon_new">Icon</label>
                                            <input type="text" class="form-control" id="icon_new" value="" placeholder="Icon">
                                        </div>
                                        <button class="btn btn-success" onclick="addItem()" id="addBtn">Thêm lĩnh vực</button>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tại sao nên chọn chúng tôi</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="dataTableTaiSaoNenChon" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Ảnh</th>
                                        <th>Nội dung</th>
                                        <th>Ngày sửa</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tBodyTaiSaoNenChon">
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div id="modal-tai-sao-nen-chon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tiêu chí</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="dataTableTaiSaoNenChonContent" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tiêu chí</th>
                                        <th>Nội dung</th>
                                        <th>Ngày sửa</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tBodyTaiSaoNenChonContent">
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div id="modal-tai-sao-nen-chon-content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Hồ sơ năng lực</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbHoSoNangLuc" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Hồ sơ năng lực</th>
                                        <th>File</th>
                                        <th>Ngày sửa</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tBodyHoSoNangLuc">

                                </tbody>
                            </table>
                        </div>
                        <div class="modal fade" id="modal-update-ho-so">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Hồ sơ năng lực</b></h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="attachFile">File hồ sơ năng lực</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="attachFile">
                                                    <label class="custom-file-label" for="attachFile">Choose file</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">Upload</span>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-warning" onclick="updateHoSo()" id="updateBtnHoSo">Update</button>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts {
    <script>
        let nextPageIndex, previousPageIndex, pageCount, rowsPerPage = 10;

        $(document).ready(function () {
            bsCustomFileInput.init();
            getItem()
            getTaiSaoNenChon()
            getTaiSaoNenChonContent()
            getHoSoNangLuc()

        })

        let dataApplication;
        function getItem() {
            $.ajax({
                url: '/NangLuc/GetNangLuc',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: { },
                success: function (res) {
                    dataApplication = res.data
                    setupPagination(dataApplication);

                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

        function search() {
            let search = document.getElementById("search");
            let filteredData = dataApplication.filter(item => item.nang_luc.includes(search.value));
            setupPagination(filteredData)
        }

        function setupPagination(data) {
            pageCount = Math.ceil(data.length / rowsPerPage);

            let pagination = '';

            pagination += `<a href="javascript:void(0)" class="a-pagination d-none" id="idPaginate_before" onclick="previousPage()"><<</a>`;
            for (let i = 1; i <= pageCount; i++) {
                if(i > 5){
                    pagination += `<a href="javascript:void(0)" class="a-pagination d-none" id="idPaginate_${i}" onclick="renderTable(dataApplication, ${i}, ${rowsPerPage})">${i}</a>`;
                }
                else{
                    pagination += `<a href="javascript:void(0)" class="a-pagination" id="idPaginate_${i}" onclick="renderTable(dataApplication, ${i}, ${rowsPerPage})">${i}</a>`;
                }
            }
            if (pageCount > 5) pagination += `<a href="javascript:void(0)" class="a-pagination" id="idPaginate_next" onclick="nextPage()">>></a>`;

            $('#pagination').html(pagination);
            renderTable(data, 1, rowsPerPage);
        }
        function renderTable(data, page, rowsPerPage) {
            nextPageIndex = page + 1
            previousPageIndex = page - 1
            const start = (page - 1) * rowsPerPage;
            const end = start + rowsPerPage;
            const paginatedData = data.slice(start, end);
            let tableBody = '';

            paginatedData.forEach(row => {
                tableBody += `<tr>
                                    <td>${row.nang_luc}</td>
                                    <td>${row.detail}</td>
                                    <td>${convertDate(row.update_at)}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-${row.id}">Update</button>
                                        
                                    </td>
                                </tr>`;

                htmlModal = ` <div class="modal fade" id="modal-${row.id}">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                    <h4 class="modal-title">Năng lực: <b>${row.nang_luc}</b></h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                            <div class="form-group">
                                                <label for="nang_luc_${row.id}"><span style="color: red">*</span> Năng lực</label>
                                                <input type="text" class="form-control" id="nang_luc_${row.id}" value="${row.nang_luc}" placeholder="Năng lực">
                                            </div>
                                            <div class="form-group" id="">
                                                <label for="detail_${row.id}">Nội dung</label>
                                                <input type="text" class="form-control" id="detail_${row.id}" value="${row.detail}" placeholder="Nội dung" >
                                            </div>
                                            <button class="btn btn-warning" onclick="update(${row.id})" id="updateBtn">Update</button>
                                        </div>
                                    </div>
                                </div>`;

                $('#modal-all').append(htmlModal)
            });

            $('#tBody').html(tableBody);

            const menuItems = document.querySelectorAll('.a-pagination');
            menuItems.forEach(menu => {
                menu.classList.remove('active');
            });
            $('#idPaginate_' + page).addClass("active");

            if(page >= 6){
                $('#idPaginate_before').removeClass('d-none');
                $(`#idPaginate_${page}`).removeClass('d-none');
                $(`#idPaginate_${page - 5}`).addClass('d-none');
                $(`#idPaginate_${page + 5}`).addClass('d-none');
            }

            if (page == pageCount) {
                $('#idPaginate_next').addClass('d-none');
            }
            if (page == pageCount - 5) {
                $('#idPaginate_next').removeClass('d-none');
            }
            if(page <= 5){
                $('#idPaginate_next').removeClass('d-none');
                $(`#idPaginate_${page}`).removeClass('d-none');
                $(`#idPaginate_${page+5}`).addClass('d-none');
            }
            if (page == 1) {
                $('#idPaginate_before').addClass('d-none');
            }
        }

        function previousPage() {
            renderTable(dataApplication, previousPageIndex, rowsPerPage)
        }

        function nextPage() {
            renderTable(dataApplication, nextPageIndex, rowsPerPage)
        }

        function getTaiSaoNenChon() {
            $.ajax({
                url: '/NangLuc/GetNangLucTaiSaoNenChon',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: { },
                success: function (res) {
                    let data = res.data
                    let tableBody = '';
                    data.forEach(row => {
                        let urlList = row.file_name.split('.')
                        let extensionFile = urlList[urlList.length - 1]
                        tableBody += `<tr>
                                            <td><img src="data:image/${extensionFile};base64, ${row.file_url}" alt="${row.file_name}" width="300" height="200"></td>
                                            <td>${row.detail}</td>
                                            <td>${convertDate(row.update_at)}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-tai-sao-nen-chon-${row.id}">Update</button>
                                        
                                            </td>
                                        </tr>`;

                        htmlModal = ` <div class="modal fade" id="modal-tai-sao-nen-chon-${row.id}">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                            <h4 class="modal-title">Tại sao nên chọn chúng tôi</b></h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                    <div class="form-group">
                                                        <label for="tai_sao_nen_chon_detail_${row.id}">Nội dung</label>
                                                        <input type="text" class="form-control" id="tai_sao_nen_chon_detail_${row.id}" value="${row.detail}" >
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="attachFileUpdate_${row.id}">Attach file</label>
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="attachFileUpdate_${row.id}">
                                                                <label class="custom-file-label" for="attachFileUpdate_${row.id}">Choose file</label>
                                                            </div>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">Upload</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-warning" onclick="updateTaiSaoNenChon(${row.id})" >Update</button>
                                                </div>
                                            </div>
                                        </div>`;

                        $('#modal-tai-sao-nen-chon').append(htmlModal)
                        bsCustomFileInput.init();
                    });

                    $('#tBodyTaiSaoNenChon').html(tableBody);

                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

        function getTaiSaoNenChonContent() {
            $.ajax({
                url: '/NangLuc/GetNangLucTaiSaoNenChonContent',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: { },
                success: function (res) {
                    let data = res.data
                    let tableBody = '';
                    data.forEach(row => {
                        tableBody += `<tr>
                                            <td>${row.title}</td>
                                            <td>${row.detail}</td>
                                            <td>${convertDate(row.update_at)}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-tai-sao-nen-chon-content-${row.id}">Update</button>

                                            </td>
                                        </tr>`;

                        htmlModal = ` <div class="modal fade" id="modal-tai-sao-nen-chon-content-${row.id}">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                            <h4 class="modal-title">Tiêu chí</b></h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                    <div class="form-group">
                                                        <label for="tai_sao_nen_chon_content_title_${row.id}">Tiêu chí</label>
                                                        <input type="text" class="form-control" id="tai_sao_nen_chon_content_title_${row.id}" value="${row.title}" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="tai_sao_nen_chon_content_detail_${row.id}">Nội dung</label>
                                                        <input type="text" class="form-control" id="tai_sao_nen_chon_content_detail_${row.id}" value="${row.detail}" >
                                                    </div>
                                                    <button class="btn btn-warning" onclick="updateTaiSaoNenChonContent(${row.id})" >Update</button>
                                                </div>
                                            </div>
                                        </div>`;

                        $('#modal-tai-sao-nen-chon-content').append(htmlModal)
                    });

                    $('#tBodyTaiSaoNenChonContent').html(tableBody);

                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

        function update(id){
            if($(`#nang_luc_${id}`).val() == ''){
                alert('Bạn cần nhập năng lực!')
                return;
            }
            $.ajax({
                url: '/NangLuc/UpdateNangLuc',
                type: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: {
                    id: id,
                    nang_luc: $(`#nang_luc_${id}`).val(),
                    detail: $(`#detail_${id}`).val(),
                    icon: $(`#icon_${id}`).val(),
                },
                success: function (res) {
                    alert(res.message)
                    window.location.reload()
                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

        // function deleteItem(id){
        //     if (confirm('Bạn có chắc chắn muốn xóa lĩnh vực này?')) {
        //         $.ajax({
        //             url: '/LinhVuc/DeleteLinhVuc',
        //             type: 'POST',
        //             headers: {
        //                 'Authorization': 'Bearer ' + getCookie('esign_token')
        //             },
        //             data: {
        //                 id: id,
        //             },
        //             success: function (res) {
        //                 alert(res.message)
        //                 window.location.reload()

        //             },
        //             error: function (err) {
        //                 if (err.status == 401) {
        //                     logout();
        //                 }
        //                 else {
        //                     alert('An error occurred. ' + err.responseText);
        //                 }
        //             }
        //         });
        //     }
        // }

        // function addItem(){
        //     if($('#linh_vuc').val() == ''){
        //         alert('Bạn cần nhập lĩnh vực!')
        //         return;
        //     }
        //     $.ajax({
        //         url: '/LinhVuc/AddLinhVuc',
        //         type: 'POST',
        //         headers: {
        //             'Authorization': 'Bearer ' + getCookie('esign_token')
        //         },
        //         data: {
        //             linh_vuc: $('#linh_vuc_new').val(),
        //             detail: $('#detail_new').val(),
        //             icon: $('#icon_new').val(),
        //         },
        //         success: function (res) {
        //             alert(res.message)
        //             window.location.reload()
        //         },
        //         error: function (err) {
        //             if (err.status == 401) {
        //                 logout();
        //             }
        //             else {
        //                 alert('An error occurred. ' + err.responseText);
        //             }
        //         }
        //     });
        // }
        function updateTaiSaoNenChon(id){
            var fileUpload = document.getElementById("attachFileUpdate_"+ id);
            if (fileUpload.files.length != 0) {
                let file = new FormData();
                file.append("file", fileUpload.files[0])

                $.ajax({
                    url: '/Banner/UploadImage',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + getCookie('esign_token')
                    },
                    data: file,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.statusCode == "FAIL") {
                            alert(res.message)
                        } else {
                            updateTSNenChon(res.data[0].fileUrl, res.data[0].fileName, id)
                        }

                    },
                    error: function (err) {
                        if (err.status == 401) {
                            logout();
                        }
                        else {
                            alert('An error occurred. ' + err.responseText);
                        }
                    }
                });
            }
            else{
                updateFile('', '', id)
            }
        }
        function updateTSNenChon(fileUrl, fileName, id){
            $.ajax({
                url: '/NangLuc/UpdateFileTaiSaoNenChon',
                type: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: {
                    id: id,
                    detail: $(`#tai_sao_nen_chon_detail_${id}`).val(),
                    file_url: fileUrl,
                    file_name: fileName,
                },
                success: function (res) {
                    alert(res.message)
                    window.location.reload()
                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }
        function updateTaiSaoNenChonContent(id){
            $.ajax({
                url: '/NangLuc/UpdateNangLucTaiSaoNenChonContent',
                type: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: {
                    id: id,
                    title: $(`#tai_sao_nen_chon_content_title_${id}`).val(),
                    detail: $(`#tai_sao_nen_chon_content_detail_${id}`).val(),
                },
                success: function (res) {
                    alert(res.message)
                    window.location.reload()
                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

        function getHoSoNangLuc() {
            $.ajax({
                url: '/NangLuc/GetHoSoNangLuc',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: { },
                success: function (res) {
                    let data = res.data
                    let urlList = data[0].file_name.split('.')
                    let extensionFile = urlList[urlList.length - 1]

                    let base64 = 'data:text/plain;base64,' + data[0].file_url;

                    let html = `<tr>
                                    <td>${data[0].file_name}</td>
                                    <td><a href="${base64}" download="${data[0].file_name}"><img src="/lib/dist/img/file.png" alt="" class="file-image" /></a></td>
                                    <td>${convertDate(data[0].update_at)}</td>
                                    <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-update-ho-so">Update</button></td>
                                </tr>`
                    $(`#tBodyHoSoNangLuc`).html(html)
                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert('An error occurred. ' + err.responseText);
                    }
                }
            });
        }

        function updateHoSo(){
            let fileUpload = document.getElementById("attachFile");
            if (fileUpload.files.length != 0) {
                let file = new FormData();
                file.append("file", fileUpload.files[0])

                $.ajax({
                    url: '/NangLuc/UploadFile',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + getCookie('esign_token')
                    },
                    data: file,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        alert(res.message)
                        window.location.reload()
                    },
                    error: function (err) {
                        if (err.status == 401) {
                            logout();
                        }
                        else {
                            alert('An error occurred. ' + err.responseText);
                        }
                    }
                });
            }
        }
    </script>
}
